.team {

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    font-size: $font-subtitle;
    color: $gray-500;
    letter-spacing: 0.3px;
    max-width: 485px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__profession {
    color: $gray-500;
    line-height: 1.8;
  }
}