<section class="team">
  <div class="container">

    <h2 class="team__title title">
      Наша команда
    </h2>

    <p class="team__text">
      Именно эти люди сделают так, чтобы ваша идея была реализована с наименьшим колличеством проблем.
    </p>

    <ul class="team__list">

      <li class="team__item">
        <img class="team__img" src="../../img/Ekaterina_Sobolieva.jpg" alt="Юрист Екатерина Соболева " width="255">
        <h3 class="team__name subtitle">
          Екатерина Соболева
        </h3>
        <p class="team__profession">
          Юрист
        </p>
      </li>

      <li class="team__item">
        <img class="team__img" src="../../img/Anton_Petrov.jpg" alt="Юрист Антон Петров" width="255">
        <h3 class="team__name subtitle">
          Антон Петров
        </h3>
        <p class="team__profession">
          Юрист
        </p>
      </li>

      <li class="team__item">
        <img class="team__img" src="../../img/Alena_Govorukhina.jpg" alt="Бухгалтер Алёна Говорухина" width="255">
        <h3 class="team__name subtitle">
          Алёна Говорухина
        </h3>
        <p class="team__profession">
          Бухгалтер
        </p>
      </li>

      <li class="team__item">
        <img class="team__img" src="../../img/Stas_Ilyashenko.jpg" alt="Аналитик Стас Ильяшенко" width="255">
        <h3 class="team__name subtitle">
          Стас Ильяшенко
        </h3>
        <p class="team__profession">
          Аналитик
        </p>
      </li>

    </ul>
  </div>
</section>