$bright-orange: #f9af31;
$pale-orange: #ffe4b7;
$light-orange: #fef7ea;
$white: #fff;
$black: #100D0D;
$dark-grey: #777;
$gray: #b2b2b2;
$gray-70: #b3b3b3;
$light-gray: #eaeaea;
$strong-red: #cf1515;
$lime-green: #269c47;
$linear: linear-gradient(278.62deg, #FCE4BB 1.35%, #FEF7EA 113.81%);
$border: rgba(249, 175, 49, 0.3);
$mostly-white: #f7f7f7;
$very-pale: #fff8eb;


$br5: 5px;
$br10: 10px;
$br20: 20px;
$br-banner: 0px 0px 20px 20px;


$font-h1: 42px;
$font-h2: 32px;
$font-h3: 18px;
$font-subtitle: 16px;
$font-body: 14px;